**/Debug
**/Release
**/IMG_Compression/Debug
**/IMG_Compression/Release
IMG_Compression/IMG_Compression.vcxproj
IMG_Compression/IMG_Compression.vcxproj.filters
IMG_Compression/IMG_Compression.vcxproj.user